@model NewsSiteTest.Models.CheckSignIn

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no " />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Sign up | News Site</title>

    @*-----------js and Css files------------------*@

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.intellisense.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    <style>
        body {
            color: #fff;
            background: #4c535d;
            font-family: 'Roboto', sans-serif;
        }

        .form-control {
            min-height: 41px;
            box-shadow: none;
            border-color: #e1e4e5;
            font-size: 14px;
        }

        .form-control, .btn {
            border-radius: 3px;
        }

        .signup-form {
            width: 400px;
            margin: 0 auto;
            padding: 30px 0;
        }

            .signup-form form {
                color: #9ba5a8;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .signup-form h2 {
                color: #333;
                font-weight: bold;
                margin-top: 0;
            }

            .signup-form hr {
                margin: 0 -30px 20px;
            }

            .signup-form .form-group {
                margin-bottom: 20px;
            }

            .signup-form label {
                font-weight: normal;
                font-size: 13px;
            }

            .signup-form .btn, .signup-form .btn:active {
                font-size: 16px;
                font-weight: bold;
                background: #5fcaba !important;
                border: none;
                min-width: 140px;
            }

                .signup-form .btn:hover, .signup-form .btn:focus {
                    background: #3fc0ad !important;
                }

            .signup-form a {
                color: #fff;
                text-decoration: underline;
            }

                .signup-form a:hover {
                    text-decoration: none;
                }

            .signup-form form a {
                color: #5fcaba;
                text-decoration: none;
            }

                .signup-form form a:hover {
                    text-decoration: underline;
                }
    </style>

</head>
<body>

    <div>
        <a href="@Url.Action("Index" , "Home")">
            <img style="padding-left:3em" src="~/Content/Images/yamaha_Logo.png" alt="Brand" width="250" height="85" />
        </a>
        <div class="signup-form">
            <form>
                <h2>Sign Up</h2>
                <p>It's free and only takes a minute.</p>
                <hr>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.sFullName, new { @class = "form-control", required = "required", id = "txtLoginName", @maxlength = "50", @placeholder = "Full Name" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.sEmailId, new { @class = "form-control", required = "required", id = "txtEmailId", @maxlength = "50", @placeholder = "Email ID" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.sMobileNumber, new { @type = "tel", @class = "form-control", required = "required", id = "txtMobileNumber", @maxlength = "10", @placeholder = "Mobile Number" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.sPassWord, new { @class = "form-control", autocomplete = "off", required = "required", id = "txtPassWord", @maxlength = "20", @placeholder = "Password" })
                    @*<input name="txtPassword" type="password" id="txtPassword" class="form-control" placeholder="Password" autocomplete="off" />*@
                </div>
                <div class="form-group">
                    <input type="password" id="cnfPassWord" class="form-control" name="sCnfPassWord" placeholder="Confirm Password" required="required">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" onclick="ValidateLogin()">Sign Up</button>
                </div>

                <div class="form-group">
                    <label>__________________________________________________________</label>
                </div>
                <div >                  
                    <label id="lblMessage" class="alert alert-danger hidden"></label>
                </div>

                <div class="form-group" style="padding-left:2em">
                    <input type="checkbox" id="GetEmails">
                    <label>&nbsp;&nbsp;Sign up for YAMAHA exclusive newsletter</label>
                </div>
                <p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
            </form>
            <div class="text-center">Already have an account? <a href="@Url.Action("Login", "Home") ">Sign In here</a></div>
        </div>
    </div>

    <script type="text/javascript">
        function ValidateLogin() {
           var data = {
               sFullName: $('#txtLoginName').val(),
               sEmailId: $('#txtEmailId').val(),
               sMobileNumber: $('#txtMobileNumber').val(),
               sPassWord: $('#txtPassWord').val()
            };
            $.ajax({
                url: '@Url.Action("About", "Home")',
                type: "POST",
                dataType: "json",
                data: data,
                //contentType: "application/json; charset=utf-8",
                async: false,
            });

            if ($('#txtLoginName').val() == "") {
                $('#lblMessage').text('Enter Valid Full Name').show;
                return false;
            }

            if ($('#txtEmailId').val() == "") {
                $('#lblMessage').text('Enter Valid Email ID').show;
                return false;
            }

            if ($('#txtMobileNumber').val() == "") {
                $('#lblMessage').text('Enter Valid Mobile Number').show;
                return false;
            }


            if ($('#txtPassWord').val() != $('#cnfPassWord')) {
                $('#lblMessage').text('Passwords didnt match').show;
                return false;
            }

        }
    </script>


</body>
</html>
